// Colors
$color-primary: #433EA8;
$color-dark-primary: #1B195C;
$color-light-primary: #7873F5;
$color-secondary: #5C4F10;
$color-cream: #F5F3EB;
$color-black: #020202;
$color-red: #C20000;

// Breakpoints
$breakpoint-mobile: 0px;
$breakpoint-tablet-portrait: 600px;
$breakpoint-tablet-landscape: 900px;
$breakpoint-desktop: 1200px;
$breakpoint-desktop-large: 1800px;
