<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Akisroc{% endblock %}</title>
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
  </head>
  <body>
  <div id="app">
    <header>
      <h1>Akisroc</h1>
      {% include '_components/navigation.html.twig' with {
        menu: getMainMenu()
      } %}
    </header>
    <main>
      {% block body %}{% endblock %}
    </main>
  </div>
    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </body>
</html>
